<body style="margin:20px auto;background: #F3F3F3;">

<style type="text/css" media="only screen and (max-width: 600px)">
    .mobile-hide{display: none !important; width: 0 !important; height: 0 !important;}
    .mobile-center{ text-align: center !important; }
    .mobile-container { border-radius: 0 !important; border: 0 !important;}
</style>

<div style="font-family: Arial, 'Montserrat', 'Open Sans', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;line-height: 25px;color: #5c5c5c;background: #F2F2F2;margin: 0; padding: 20px 0 40px;">

    <div style="background:#FFFFFF; background: url(http://mycariq.com/assets/images/email/paravion.png) repeat-x top, url(http://mycariq.com/assets/images/email/paravion.png) repeat-x bottom; background-color: #FFF; width:90%;max-width:740px;padding:15px 25px 25px;margin:0 auto; box-shadow: 0 0 10px rgba(0,0,0,0.055) " class="mobile-container">


    <center>
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="left" class="mobile-padding" style="padding:20px 20px 30px">

                    <br class="mobile-hide" />

                    <div style="text-align: left"><h1 style="color:#D12112"><span style="color:#333">${user.workshopName},</span> delighted to have you aboard!</h1></div>

                    <br class="mobile-hide" />

                    <img class="mobile-hide" src="http://mycariq.com/assets/images/email/data_tyre.png" alt="" style="width:300px; float:right; padding: 0px 0 10px 15px;"/>
                    <!--<center><img src="http://mycariq.com/assets/images/email/connectedcars.jpg" alt="" style="width:96%"/></center>-->

                    <p style="color:#666; text-align: left">Thank you for choosing Garage CRM for your business.</p>

                    <p style="color:#666; text-align: left">This is a basic version of the app and we have lots of features planned. We will be rolling them out and you will have access to all upgrades as soon as we roll them out.</p>

                    <p style="color:#666; text-align: left">We have just launched and are learning. Please bear with us. You can definitely write to us at honk@mycariq.com and we promise to get back to you asap. </p>

                    <p><b>Again, a warm welcome to Garage CRM!</b></p>



                 </td>
            </tr>
        </table>


    </center>





	<div style="clear:both"></div>



</div><!-- end body -->

<div style="width:90%;max-width:740px; line-height:20px; padding:15px 15px 25px;margin:0 auto;">

    <div style="float:right;color: #FFF; text-align: right" class="mobile-hide">
        <a target="_blank" href="http://www.facebook.com/getcariq" style="float:right; margin-left: 6px; background:#3B5998;color:#FFF;font-weight: bold;display:block;text-decoration: none; width:20px; height: 20px; text-align: center">f</a>
        <a target="_blank" href="http://www.twitter.com/mycariq" style="float:right; margin-left: 6px; background:#00CFFE;color:#FFF;font-weight: bold;display:block;text-decoration: none; width:20px; height: 20px; text-align: center">t</a>
    </div>

    <div style="float:left;color: #888;text-shadow: 0 1px 0 #fff;font-size: 12px">
        This is a system generated communication.
        <br />
    </div>

    <div style="clear:both;display:block;height:5px;"></div>

</div>

</div>
</body>
